<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="nz.net.catalyst.MaharaDroid2"
      android:versionCode="10"
      android:versionName="2.0">
    <application android:icon="@drawable/icon" android:label="@string/app_name"
    		 android:debuggable="false" >
    
        <activity android:name=".ui.ArtefactExpandableListAdapterActivity" 
        		  android:label="@string/app_name" 
                  android:theme="@style/MaharaTheme"
                  android:launchMode="singleTop">
                  <!-- 
                   <activity android:name=".ui.ArtefactExpandableListAdapterActivity"
        	android:label="@string/options_menu_viewsaved" /> -->
                  
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="nz.net.catalyst.MaharaDroid.LAUNCHER" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
		<activity android:name=".ui.about.AboutActivity"
				android:label="@string/about_title" 
				>
		</activity>

		<activity android:name=".ui.about.TextViewer"
				  android:label="@string/about_title"
				  >
			<!-- Handle plain-text resources -->
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:scheme="android.resource" />
				<data android:mimeType="text/plain" />
			</intent-filter>
		</activity>
		
	    <activity android:name=".ui.ArtifactSettingsActivity" 
	    		  android:label="@string/artifactsettings"
	    	      android:theme="@style/MaharaTheme"
	    	      >
            <intent-filter>
                <action android:name="nz.net.catalyst.MaharaDroid.ARTEFACTSETTINGS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
		<activity android:name=".upload.ArtifactSenderActivity" 
				  android:label="@string/app_name"
		          android:enabled="true" android:exported="true">
            <intent-filter>
				<action android:name="android.intent.action.SEND" />
				<action android:name="android.intent.action.SEND_MULTIPLE" />
				<category android:name="android.intent.category.DEFAULT" />
   				<data android:mimeType="image/*" />
   				<data android:mimeType="video/*" />
   				<data android:mimeType="audio/*" />			
   				<data android:mimeType="application/*" />
   				<data android:mimeType="text/csv" />
   				<data android:mimeType="text/rtf" />
   				<data android:mimeType="text/html" />
   				<data android:mimeType="text/xml" />
 			</intent-filter>
        </activity>
        <activity  android:name=".ui.EditPreferences"
				   android:label="@string/options_menu_prefs" />
        
     	<activity android:name=".authenticator.AuthenticatorActivity"
     	    android:theme="@android:style/Theme.Dialog"
            android:excludeFromRecents="true" />

        <service android:name=".upload.TransferService" android:label="@string/filetransfers"/>
        
    	<service android:name=".authenticator.AccountAuthenticatorService"
	    		android:exported="true">
	    	<intent-filter>
	    		<action android:name="android.accounts.AccountAuthenticator" />
	    	</intent-filter>
	    	<meta-data android:name="android.accounts.AccountAuthenticator"
	    			android:resource="@xml/authenticator" />
	    </service>
	    
   	    <!-- sync-adapter service -->
	    <service android:name=".syncadapter.SyncAdapterService"
	    		android:icon="@drawable/icon"
        		android:label="@string/app_name"
	    		android:exported="true">
	    	<intent-filter>
	    		<action android:name="android.content.SyncAdapter" />
	    	</intent-filter>
	    	<meta-data android:name="android.content.SyncAdapter"
	    			android:resource="@xml/syncadapter" />
	    </service>
		<provider android:name=".provider.SyncContentProvider"
	              android:authorities="nz.net.catalyst.MaharaDroid2.Sync"
	              android:label="MaharaDroid"
	 		      android:syncable="true"
	  			  android:enabled="true">
	  	</provider>
		<provider android:name=".provider.ArtefactContentProvider"
	              android:authorities="nz.net.catalyst.MaharaDroid2.Artefact"
	              android:label="MaharaDroid"
	 		      android:syncable="true"
	  			  android:enabled="true">
	  	</provider>
	</application>
   	<!--  API Level 4 aka 1.6 required for multi-send support -->
   	<!--  API Level 5 aka 2.0 required for Account & Sync support -->
   	<!--  API Level 8 aka 2.2 required for (filtered) Account & Sync Intent support -->
   	<uses-sdk android:minSdkVersion="8" android:targetSdkVersion="8"/> 
   	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />     
       
</manifest> 